<a
  class="group"
  href="{{ link }}"
  target="{{ target | default('_self') }}"
>
  <span class="text-h6">{{ title }}</span>
  {{ include('svgs/arrow-right.twig', { class: 'inline-block size-4 ml-1 transition-transform group-hover:translate-x-1' }) }}
</a>
