<a
  class="group p-3 -m-3 inline gap-x-2 items-center"
  href="{{ link }}"
  target="{{ target | default('_self') }}"
>
  <span class="font-aktiv-grotesk-extended font-medium text-base lg:text-[1.0625rem] leading-6 lg:leading-[1.625rem]">{{ title }}</span>

  {{ include('svgs/arrow-right.twig', { class: 'inline-block ml-2 shrink-0 size-4 transition-transform group-hover:translate-x-1' }) }}
</a>
