<nav
  aria-label="Breadcrumb"
  class="py-3"
>
  <ol class="flex flex-wrap">
    {% for crumb in breadcrumbs %}
      <li>
        {% if loop.last %}
          <span
            class="text-body-small text-bold text-gray"
            aria-current="page"
          >{{ crumb.title }}</span>
        {% else %}
          <a
            class="text-body-small text-gray transition-colors hover:text-blue-deep"
            href="{{ crumb.link }}"
          >{{ crumb.title }}</a>
          <span class="text-body-small text-gray px-4">/</span>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</nav>
