<div class="grid grid-cols-12 gap-fluid-grid-gap gap-y-8 pt-3 pb-12">
  {% for location in get_posts(location_group.locations) %}
    <div class="col-span-12 md:col-span-6 lg:col-span-3">
      <div class="w-full h-1 gradient-light bg-linear-to-r mb-3"></div>
      <address class="not-italic">
        <span class="text-h6">{{ location.title }}</span>
        <br>
        <span class="text-body-medium">{{ location.address }}</span>
        <br>
        <a
          href="tel:{{ location.phone }}"
          class="text-body-medium underline hover:no-underline"
        >{{ location.phone }}</a>
      </address>
    </div>
  {% endfor %}
</div>
