{% set brands = get_posts({
  post_type: 'brand',
  posts_per_page: -1,
  orderby: 'title',
  order: 'ASC',
}) %}

{% set brands_data = brands|escape('js')|json_encode %}

{% set product_categories = get_terms({
  taxonomy: 'product-category',
  parent: 0,
}) %}

<section
  x-data='brandFilter({{ brands_data }})'
  class="fluid-grid"
>
  <div class="span-content grid grid-cols-subgrid">
    <div class="col-span-12 md:col-span-6 lg:col-span-3 mb-8">
      <select
        x-model="selectedProductCategory"
        class="border-0 cursor-pointer"
      >
        <option value="">All</option>
        {% for category in product_categories %}
          <option value="{{ category.id }}">{{ category.title }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <ul
    x-auto-animate
    class="span-content grid grid-cols-subgrid gap-y-(--col-gap)"
  >
    <template
      x-for="brand in displayedBrands"
      :key="brand.id"
    >
      <li class="col-span-12 md:col-span-6 lg:col-span-3 bg-gray-light p-2">
        <article class="w-full">
          <div class="w-full aspect-video bg-white">
            <img
              :src="brand.logo.src"
              :alt="brand.logo.alt"
              :srcset="brand.logo.srcset"
              :width="brand.logo.width"
              :height="brand.logo.height"
              class="size-full p-8 object-contain"
            >
          </div>
          <div class="p-2 mt-2">
            <h3
              x-text="brand.previewHeading"
              class="text-body-large font-bold"
            ></h3>
            <p
              x-text="brand.previewBody"
              class="text-body-medium mt-3"
            ></p>
          </div>
        </article>
      </li>
    </template>
  </ul>
  <div class="span-content">
    {{ include('components/brand-filter/pagination.twig') }}
  </div>
</section>
