{% set brands = get_posts({
  post_type: 'brand',
  posts_per_page: -1,
  orderby: 'title',
  order: 'ASC',
}) %}

{% set brands_data = brands|escape('js')|json_encode %}

{% set product_categories = get_terms({
  taxonomy: 'product-category',
  parent: 0,
}) %}

<section
  x-data='brandFilter({{ brands_data }})'
  x-resize="width = $width"
  class="fluid-grid mb-12"
>
  <div class="span-content grid grid-cols-subgrid">
    <div class="col-span-12 h-0.5 w-full bg-gray-light my-3"></div>
    <div class="col-span-12 md:col-span-6 lg:col-span-3 mb-8">
      <select
        x-model="selectedProductCategory"
        class="border-0 cursor-pointer"
      >
        <option value="">All</option>
        {% for category in product_categories %}
          <option value="{{ category.id }}">{{ category.title }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <ul
    x-auto-animate
    class="span-content grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-6 lg:gap-8"
  >
    <template
      x-for="brand in displayedBrands"
      :key="brand.id"
    >
      <li class="relative bg-bone p-2">
        <article class="w-full">
          <div class="w-full bg-white">
            <a
              :href="brand.link"
              class="block w-full aspect-video"
            >
              <span class="absolute inset-0"></span>
              <span class="absolute inset-0 border-8 border-blue-dark opacity-0 transition-opacity hover:opacity-100"></span>
              <img
                :src="brand.logo.src"
                :alt="brand.title"
                :srcset="brand.logo.srcset"
                :width="brand.logo.width"
                :height="brand.logo.height"
                class="size-full p-8 object-contain"
              >
            </a>
          </div>
          <div class="p-2 mt-2">
            <h3
              x-text="brand.previewHeading"
              class="text-body-large font-bold"
            ></h3>
            <p
              x-text="brand.previewBody"
              class="text-body-medium mt-3"
            ></p>
          </div>
        </article>
      </li>
    </template>
  </ul>
  <div class="span-content">
    {{ include('components/brand-filter/pagination.twig') }}
  </div>
</section>
