<section class="">
  <div class="fluid-grid">
    <div class="span-content">
      {{ include('partials/breadcrumbs.twig') }}
    </div>
  </div>
  <div class="fluid-grid gradient-light bg-gradient-to-r py-8 lg:items-center">
    <div class="col-start-[content-start] col-end-[content-end] relative lg:col-end-[col-7] lg:row-start-1">
      <h1 class="text-h2">{{ heading }}</h1>
      <div class="w-full h-1 from-transparent to-blue-dark bg-linear-to-l mt-1 lg:w-4/5"></div>
      {% if wysiwyg %}
        <div class="wysiwyg mt-3">{{ wysiwyg }}</div>
      {% endif %}
    </div>
    {{ include('svgs/world-map.twig', {
      class: 'hidden lg:block text-blue-pale col-start-[col-6] row-start-1 col-end-[content-end] w-full object-contain object-left',
    }) }}
  </div>
</section>
