<section class="">
  <div class="fluid-grid">
    <div class="span-content">
      {{ include('partials/breadcrumbs.twig') }}
    </div>
  </div>
  <div class="fluid-grid gradient-light bg-gradient-to-r py-8 lg:items-center">
    <div class="col-start-[content-start] col-end-[content-end] lg:col-end-[col-6]">
      <h1 class="text-h1">{{ heading }}</h1>
      <div class="w-full h-1 gradient-dark bg-linear-to-l mt-1"></div>
      {% if wysiwyg %}
        <div class="wysiwyg mt-3">{{ wysiwyg }}</div>
      {% endif %}
    </div>
    {{ include('svgs/world-map.twig', {
      class: 'hidden lg:block text-blue-pale col-start-[col-6] col-end-[content-end] w-full object-contain object-left',
    }) }}
  </div>
</section>
