@import "tailwindcss";
@import "./peak.css";
@import "./typography.css";

@theme {
	--color-blue: #80D3ED;
	--color-blue-light: #BFE9F6;
	--color-blue-dark: #2DA0C3;
	--color-blue-pale: #DFF4FB;
	--color-gray: #3A4453;
	--color-gray-light: #BEC8D2;
	--color-gray-dark: #1D222A;

	--font-aktiv-grotesk-extended: "aktiv-grotesk-extended", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-aptos: "aptos", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--font-weight-*: initial;
	/* --font-weight-hairline: 100; */
	/* --font-weight-thin: 200; */
	/* --font-weight-light: 300; */
	--font-weight-normal: 400;
	/* --font-weight-medium: 500; */
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	/* --font-weight-extrabold: 800; */
	/* --font-weight-black: 900; */
}

@layer components {
	/* .button {
	} */

	.button-small {
		@apply flex items-center font-aktiv-grotesk-extended font-semibold text-xs leading-none uppercase text-gray-dark bg-blue px-4 pt-2.5 pb-1.5 placeholder-yellow-300 rounded-full transition-colors hover:bg-blue-dark;
	}
}

	/* .focus-base {
		@apply focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dotted;
	}

	.focus-default {
		@apply focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dotted focus-visible:outline-teal;
	}

	.focus-default-light {
		@apply focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dotted focus-visible:outline-white;
	} */
