@import "tailwindcss";
@import "./peak.css";
@import "./typography.css";

@theme {
	--color-blue-dark: #2DA0C3;
	--color-blue: #80D3ED;
	--color-blue-light: #93DAF0;
	--color-blue-baby: #BFE9F6;
	--color-blue-pale: #DFF4FB;
	--color-gray-dark: #1D222A;
	--color-gray: #3A4453;
	--color-gray-light: #BEC8D2;
	--color-bone: #F2F2F2;

	--font-aktiv-grotesk-extended: "aktiv-grotesk-extended", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-aptos: "aptos", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--font-weight-*: initial;
	/* --font-weight-hairline: 100; */
	/* --font-weight-thin: 200; */
	/* --font-weight-light: 300; */
	--font-weight-normal: 400;
	/* --font-weight-medium: 500; */
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	/* --font-weight-extrabold: 800; */
	/* --font-weight-black: 900; */
}

:root {
	/* Third Party */
	--plyr-color-main: var(--color-blue-dark);
}

@utility gradient {
	@apply from-blue-dark/0 to-blue-dark;
}

@utility gradient-dark {
	@apply from-[11%] from-blue via-[43%] via-[#1490AC] to-[89%] to-[#064758];
}

@utility gradient-light {
	@apply from-blue-baby to-blue-dark;
}

@utility gradient-gray {
	@apply from-55% from-white/0 to-gray-dark;
}

@utility button-primary {
	@apply inline-flex items-center px-7 py-4 text-h6 text-gray-dark leading-none border border-blue bg-blue rounded-full transition-colors hover:bg-blue-dark hover:border-blue-dark;
}

@utility button-secondary {
	@apply inline-flex items-center px-7 py-4 text-h6 leading-none text-white border border-white rounded-full transition-colors hover:bg-white hover:text-gray-dark;
}

@utility button-tertiary {
	@apply inline-flex items-center px-7 py-4 text-h6 leading-none border text-white border-gray-dark bg-gray-dark rounded-full transition-colors hover:bg-blue-baby hover:border-blue-baby hover:text-black;
}

@utility button-small {
	@apply inline-flex items-center font-aktiv-grotesk-extended font-semibold text-xs leading-none uppercase text-gray-dark bg-blue px-4 py-2 rounded-full transition-colors hover:bg-blue-dark;
}

@utility wysiwyg {
	@apply space-y-3.5;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-balance;
	}

	p {
		@apply text-pretty max-w-[80ch];
	}

	h2 {
		@apply text-h2;
	}

	p {
		@apply text-body-medium;

		bold {
			font-weight: bold;
		}
	}
}

	/* .focus-base {
		@apply focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dotted;
	}

	.focus-default {
		@apply focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dotted focus-visible:outline-teal;
	}

	.focus-default-light {
		@apply focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dotted focus-visible:outline-white;
	} */
