@plugin "@tailwindcss/typography";

@utility text-h1 {
	@apply font-aktiv-grotesk-extended font-bold text-[1.75rem] leading-[2.125rem] lg:text-4xl uppercase;
}

@utility text-h2 {
	@apply font-aktiv-grotesk-extended font-bold text-2xl lg:text-3xl uppercase;
}

@utility text-h3 {
	@apply font-aktiv-grotesk-extended font-bold text-[1.375rem] leading-[1.875rem] lg:text-2xl lg:leading-[1.875rem] uppercase;
}

@utility text-h4 {
	@apply font-aktiv-grotesk-extended font-bold text-xl leading-[1.625rem] uppercase;
}

@utility text-h5 {
	@apply font-aktiv-grotesk-extended font-bold text-base leading-[1.375rem] uppercase;
}

@utility text-h6 {
	@apply font-aktiv-grotesk-extended font-bold text-sm uppercase;
}

@utility text-body-large {
	@apply font-aptos font-normal text-lg leading-6;
}

@utility text-body-medium {
	@apply font-aptos font-normal text-base leading-[1.375rem];
}

@utility text-body-small {
	@apply font-aptos font-normal text-sm;
}

/* .wysiwyg {
	line-height: 1.5em;

	a {
		@apply text-teal px-0.5 -mx-0.5 transition-colors duration-150 hover:text-white hover:bg-teal;
	}

	h1 {
		@apply mb-4;
	}

	h2 {
		@apply mt-8 mb-3;

		+h3 {
			@apply mt-3;
		}
	}

	h3 {
		@apply mt-7 mb-2.5;

		+h4 {
			@apply mt-2.5;
		}
	}

	h4 {
		@apply mt-6 mb-2;

		+h5 {
			@apply mt-2;
		}
	}

	h5 {
		@apply mt-5 mb-1.5;

		+h6 {
			@apply mt-1.5;
		}
	}

	h6 {
		@apply mt-4 mb-1;
	}


	p {
		@apply my-2;
	}

	ul,
	ol {
		@apply my-6;
	}

	ol,
	ul {

		ol,
		ul {
			@apply my-2;
		}
	}

	ul {
		@apply list-disc pl-4;
	}

	ol {
		@apply list-decimal pl-5;
	}

	ul > li > p,
	ol > li > p {
		margin-top: 0em !important;
		margin-bottom: 0em !important;
		line-height: 1.5em;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-blue-navy;
	}

	table {

		th,
		td {
			@apply px-5 py-3;
		}

		th {
			background-color: #f6fbef;
			text-align: left;
		}
	}

	table,
	th,
	td {
		@apply border-blue-navy border;
	}

	.table-wrapper {
		@apply overflow-x-auto;
	}

	:where(.wysiwyg > div > :first-child) {
		margin-top: 0 !important;
	}

	:where(.wysiwyg > div > :last-child) {
		margin-bottom: 0 !important;
	}

	> :first-child {
		@apply mt-0;
	}
} */
